tooltipMargin = 8px

.ql-snow
  .ql-tooltip
    background-color: #fff
    border: 1px solid borderColor
    box-shadow: 0px 0px 5px shadowColor
    color: textColor
    padding: 5px 12px
    white-space: nowrap
    input[type="checkbox"]
      display none
      & + span
        display block
        position relative
        padding-left 23px
        margin-bottom 20px
        font 13px 'Open Sans', Arial, sans-serif
        color black
        cursor pointer
        -webkit-user-select none
        -moz-user-select none
        -ms-user-select none
        &:last-child
          margin-bottom 0
        &:before
          content: ''
          display: block
          width: 14px
          height: 14px
          border: 1px solid #06c
          position: absolute
          left: 0
          top: 3px
          opacity: 0.6
          -webkit-transition: all 0.12s, border-color 0.08s
          transition: all 0.12s, border-color 0.08s
    input[type="checkbox"]:checked
      & + span
        &:before
          width 10px
          top 0
          left 5px
          border-radius 0
          opacity 1
          border-top-color transparent
          border-left-color transparent
          -webkit-transform rotate(45deg)
          transform rotate(45deg)
    &::before
      content: "Visit URL:"
      line-height: 26px
      margin-right: tooltipMargin
    input[type=text]
      display: none
      border: 1px solid borderColor
      font-size: 13px
      height: 26px
      margin: 0px
      padding: 3px 5px
      width: 170px
    a.ql-preview
      display: inline-block
      max-width: 200px
      overflow-x: hidden
      text-overflow: ellipsis
      vertical-align: top
    .ql-check-container
      display none
    a.ql-action::after
      border-right: 1px solid borderColor
      content: 'Edit'
      margin-left: tooltipMargin*2
      padding-right: tooltipMargin
    a.ql-remove::before
      content: 'Remove'
      margin-left: tooltipMargin
    a
      line-height: 26px
  .ql-tooltip.ql-editing
    .ql-check-container
      display block
      margin-top: 7px
    a.ql-preview, a.ql-remove
      display: none
    input[type=text]
      display: inline-block
    a.ql-action::after
      border-right: 0px
      content: 'Save'
      padding-right: 0px
  .ql-tooltip[data-mode=link]::before
    content: "Enter link:"
  .ql-tooltip[data-mode=formula]::before
    content: "Enter formula:"
  .ql-tooltip[data-mode=video]::before
    content: "Enter video:"
